body{
	background-color:#e3e3e3;
	color:#555;
	font-family:arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:coral;
	color:#fff;
}

#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#navbar a:hover{
	color:#6d9ac7;
}

#showcase{
	background-image:url("../images/showcase.jpg");
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
}

#showcase h1{
	color:#fff;
	font-size:50px;
	line-height:1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing:border-box;
}

#sidebar{
	float:right;
	width:30%;
	background:#333;
	color:#fff;
	padding:10px;
	box-sizing:border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align:center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}

.button{
	background-color:coral;
	color:#fff;
	padding:10px 15px;
	border:none;
	width:100%;
	line-height:1.6em;
	animation-name:button;
	animation-duration:3s;
	animation-fill-mode:forwards;

	transition-property:transform;
	transition-duration:1s;
}

.button:hover {
	background-color:#34495e;
	transform: rotateY(360deg);
}

@keyframes button {
	0% {opacity:0}
	100% {opacity:1}
}

a{
	color:#fff;
	text-decoration: none;
}

.login-box{
	width:40%;
	margin:auto;
	border:none;
	padding:40px;
	text-align:center;
	margin-top:20px;
	background:#333;
	color:white;
}

.login-box input[type = "text"], .login-box input[type = "password"]{
	border:0;
	background:none;
	margin: 20px auto;
	border: 2px solid coral;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius:24px;
	transition:0.25s;
}

.login-box input[type = "text"]:focus, .login-box input[type = "password"]:focus{
	width: 280px;
	border: 2px solid #34495e;
}

.servlet-form input[type="submit"]{
	background-color:coral;
	color:#fff;
	padding:10px 15px;
	border:2px coral solid;
	display:block;
	margin:20px auto;
	text-align:center;
}

.servlet-form input[type="submit"]:hover{
	border:2px #34495e solid;
	background:#34495e;
	color:white;
}

.servlet-form label{
	display:block;
}



